<!-- {{#each model.recipes as |recipe|}}

<p>

{{#link-to 'recipe' recipe}}{{recipe.name}}{{/link-to}}

</p>
{{/each}} -->


<div class="artist-index template">
  <p>This is <em>types/index.hbs</em>.</p>

  <div class="biography">
    <h3>Learn about the {{model.name}}</h3>
    <p>{{model.name}}Is a cool, delicious beer.</p>
  </div>

  <p>{{#link-to 'recipes' class="button"}}Recipes &rarr;{{/link-to}}</p>
</div>
