<div class="type-index template">
  <p>This is <em>types/index.hbs</em>.</p>

  <div class="biography">
    <h3>Artist Biography</h3>
    <p>Something about {{model.name}}. Lorem ipsum…</p>
  </div>

  <p>{{#link-to 'recipes' class="button"}}Recipes &rarr;{{/link-to}}</p>
</div>