<div class="type-index template">
  <div class="biography">
    <h3 class="center-align">Learn about the {{model.name}}</h3>
    <p class="center-align">{{model.name}} is a cool, delicious beer.</p>
  </div>
  {{render 'recipes' model.recipes}}
</div>
