<div class="index template">
  <p class="center-align">Want to learn about some homebrews?</p>
  <p class="center-align">See the types:</p>
  <p class="center-align">{{#link-to 'types'}}Types &rarr;{{/link-to}}</p>
  {{outlet}}
</div>
