<div class="recipes template">
  <h3>Recipes</h3>

  <ul class="recipes">
    {{#each model as |recipe|}}
    <li>{{#link-to 'recipe' recipe}}{{recipe.name}} {{/link-to}}</li>
    {{/each}}
  </ul>

  {{outlet}}
</div>
