<div class="types template">
<div class="row">
    {{#each model as |type|}}
        <div class="col m3 type-style">
          <h3 class="center-align">
            {{#link-to 'type' type}}{{type.name}}{{/link-to}}
          </h3>
        </div>
    {{/each}}
</div>
  {{outlet}}
</div>
